<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.adeptpower.activation'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.cost'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.haslevel'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="data.activation">
                            {{selectOptions config.adeptpower_activation selected=item.data.data.activation
                            localize=true}}
                        </select>
                    </td>
                    <td>
                        <input name="data.cost" value="{{item.data.data.cost}}" type="number" class="box centered" />
                    </td>
                    <td>
                        <input style="vertical-align: middle;" type="checkbox" {{checked item.data.data.hasLevel}}
                            name="data.hasLevel" />
                    </td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="20"
                rows="6">{{data.data.description}}</textarea>
        </div>
    </section>
</form>