<!-- Edge Token -->
<div class="edge" style="margin-left: 10px">
	<img src="systems/shadowrun6-eden/images/Yen.png"
		style="border: 0px; height: auto; width: 96px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
	<input class="edge-value" type="text" data-dtype="Number" name="data.nuyen" value="{{data.data.nuyen}}"
		style="font-size: x-large" />
</div>