<div class="section" style="display: inline-block; width:100%">
  <div class="section-head">
    <h2 class="section-title">{{ localize 'shadowrun6.section.notes.title' }}</h2>
  </div>
  {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}
</div>