<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.adeptpowers.title' }}</h2>
	<a class="item-control adeptpower-create" title="{{localize 'shadowrun6.section.adeptpowers.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	    <thead>
	      <tr>
	        <th>{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th>{{ localize 'shadowrun6.section.adeptpowers.column.points' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'adeptpower'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td> <input type="text" value="{{item.name}}" data-field="name" title="{{item.data.data.description}}"/></td>
			<td class="centered" style="width: 2em"> <input class="centered" type="text" value="{{item.data.data.cost}}" data-field="data.cost" data-type="Number"/></td>
			<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
		{{/iff}} 
		{{/each}}
</table>
</div>