<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.spells.title' }}</h2>
	<a class="item-control spell-create" title="{{localize 'shadowrun6.section.spells.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	    <thead>
	      <tr>
	        <th></th>
	        <th style="text-align:left">{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th>{{ localize 'shadowrun6.section.spells.column.range' }}</th>
	        <th></th>
	        <th>{{ localize 'shadowrun6.section.spells.column.drain' }}</th>
	        <th colspan="2">{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each actor.items as |item id|}} 
		{{#iff item.type '==' 'spell'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
      	<td style="width:1rem"><button type="button" class="collapsible {{item.data.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button></td>
			<td> <input type="text" value="{{item.name}}" data-field="name" title="{{item.data.data.description}}"/></td>
			<td class="centered" style="width: 3em"> {{localize (concat (concat "shadowrun6.spell.range_" item.data.data.range) "_short")}}</td>
			<td class="centered" style="width: 1em">
				{{#if item.data.data.alchemic}}
				<i class="fas fa-flask"></i>
				{{/if}}
			</td>
			<td class="centered"style="width: 3em"> <input type="text" value="{{item.data.data.drain}}" data-field="data.drain" data-type="Number"/></td>
			<td class="centered">
				<a class="item-control spell-roll"   data-item-id="{{item.id}}"  title="Roll"><i class="fas fa-dice-six"></i></a>
				<a class="item-control item-edit"   title='{{localize 'shadowrun6.label.edit' }}'><i class="fas fa-edit"></i></a> 
				<a class="item-control item-delete" title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.data.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.features' }}: <b>{{spellFeat item.data.data}}</b> 
         	</div>
         </td>
       </tr>
		{{/iff}} 
		{{/each}}
</table>
</div>